html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*
// HEADER
*/

header{
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: #121212;
    color: #b3b3b3;
    display: flex;
}

header #left-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}

header #left-header p{
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}

header #left-header img{
    height: 85px;
    width: 85px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
}

header #right-header{
    margin-left: auto;
    margin-right: 20px;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/*
// HOME PAGE
*/

section{
    height: calc(100% - 100px);
    width: 100%;
    background-color: #212121;
    color: #b3b3b3;
    display: flex;
    overflow: hidden;
}

#statistics{
    display: grid;
    width: 100%;
    height: 100%;
    transition: .35s;
}

#empty{
    text-align: center;
    font-size: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#sidebar{
    height: calc(100% - 100px);
    width: 250px;
    position: fixed;
    left: 100%;
    transition: .35s;
}

/*
// SELECTABLE CATEGORIES
*/

#search{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#search-box{
    width: 80%;
    font-size: 18px;
}

#error{
    width: 100%;
    height: 100vh;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#selectable-category{
    overflow: auto;
}

/*
// SCROLLBAR
*/

::-webkit-scrollbar { width: 10px; }
  
::-webkit-scrollbar-track { background: #f1f1f1; }

::-webkit-scrollbar-thumb { background: #888; }

::-webkit-scrollbar-thumb:hover { background: #555; }