html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*
// HEADER
*/

header{
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: #121212;
    color: #b3b3b3;
    display: flex;
}

header #left-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #left-header p{
    font-size: 20px;
    padding: 10px;
}

header #left-header img{
    height: 85px;
    width: 85px;
    padding: 5px;
}

/*
// HOME PAGE
*/

section{
    height: calc(100% - 100px);
    width: 100%;
    background-color: #212121;
    color: #b3b3b3;
}

#sidebar{
    height: 100%;
    width: 15%;
    min-width: 150px;
    float: right;
}

/*
// GENERIC BUTTON
*/

.btn{
    padding: 10px;
    
    width: fit-content;
    border-radius: 8px;
    background: #212121;
    box-shadow:  8px 8px 10px #1c1c1c, -8px -8px 10px #262626;
}

.btn:hover{
    background: linear-gradient(145deg, #1e1e1e, #232323);
    box-shadow:  8px 8px 10px #1c1c1c, -8px -8px 10px #262626;
    cursor: pointer;
}

.btn:active{
    background: #212121;
    box-shadow: inset 8px 8px 10px #1c1c1c, inset -8px -8px 10px #262626;
}