html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
// HEADER
*/

header{
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: #121212;
    color: #b3b3b3;
}

/*
// HOME PAGE
*/

section{
    height: calc(100% - 100px);
    width: 100%;
    background-color: #212121;
    color: #b3b3b3;
}

/*
// GENERIC BUTTON
*/

.btn{
    padding: 10px;
    margin: 0;
    width: fit-content;
    border-radius: 8px;
    background: #212121;
    box-shadow:  8px 8px 17px #1c1c1c, -8px -8px 17px #262626;
}

.btn:hover{
    background: linear-gradient(145deg, #1e1e1e, #232323);
    box-shadow:  8px 8px 17px #1c1c1c, -8px -8px 17px #262626;
    cursor: pointer;
}

.btn:active{
    background: #212121;
    box-shadow: inset 8px 8px 17px #1c1c1c, inset -8px -8px 17px #262626;
}