html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    width: 100%;
    background-color: #121212;
    color: #b3b3b3;
}

section{
    height: calc(100% - 100px);
    width: 100%;
    background-color: #212121;
    color: #b3b3b3;
}

.btn{
    border-radius: 8px;
    background: #212121;
    box-shadow:  20px 20px 60px #1c1c1c, -20px -20px 60px #262626;
}

.btn:hover{
    border-radius: 8px;
    background: linear-gradient(145deg, #1e1e1e, #232323);
    box-shadow:  20px 20px 60px #1c1c1c, -20px -20px 60px #262626;
}

.btn:active{
    border-radius: 8px;
    background: #212121;
    box-shadow: inset 9px 9px 17px #1c1c1c, inset -9px -9px 17px #262626;
}