html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: #121212;
    color: #b3b3b3;
    display: flex;
}

header #left-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}

header #left-header p{
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}

header #left-header img{
    height: 85px;
    width: 85px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
}

header #right-header{
    margin-left: auto;
    margin-right: 20px;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

section{
    height: calc(100% - 100px);
    width: 100%;
    background-color: #212121;
    color: #b3b3b3;
    display: flex;
    overflow: hidden;
}

#statistics{
    display: grid;
    width: 100%;
    height: 100%;
    transition: .35s;
}

#empty{
    text-align: center;
    font-size: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#sidebar{
    height: calc(100% - 100px);
    width: 300px;
    position: fixed;
    left: 100%;
    transition: .35s;
}

#search{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#search-box{
    width: 80%;
    font-size: 18px;
    background-color: #121212;
    border: none;
    padding: 4px;
    border-radius: 6px;
    color: #b3b3b3;
    outline: none;
}

.error{
    width: 100%;
    height: calc(100vh - 100px);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#errorButton{
    background-color: #121212;
    padding: 8px;
    color: #b3b3b3;
    border: none;
    font-size: 18px;
    border-radius: 6px;
}

#selectable-category{ overflow: auto; }

div[class^="category"]{
    letter-spacing: .05em;
    padding: 5px 5px;
}

.titleCategory
{
    margin: 5px;
    position: relative;
    transition:0.4s;
    width: max-content;
}

.titleCategory::after{
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: inherit;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.titleCategory:hover{
    color:white;
    transition:0.3s;
    cursor:pointer;
}

.titleCategory:hover::after{
    width: 100%; 
    left: 0; 
}

.select-box{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.select-box .option-container{
    background-color: #121212;
    max-height: 0;
    opacity: 0;
    transition: all .4s;
    border-radius: 6px;
    overflow: hidden;
}

.select-box .option, .titleCategory{
    padding: 6px 12px;
    cursor: pointer;
}

.select-box .option:hover{ background-color: #535353; }

.select-box .option-container.active{
    max-height: 220px;
    opacity: 1;
    overflow-y: scroll;
}

.option-container .option p{ margin: 2px 0; }

::-webkit-scrollbar { width: 10px; }
  
::-webkit-scrollbar-track { background: #f1f1f1; }

::-webkit-scrollbar-thumb { background: #888; }

::-webkit-scrollbar-thumb:hover { background: #555; }